<div class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <div>
        <h2>Transferir dinheiro</h2>
        <p>Transferência entre contas</p>
      </div>

      <button class="close-button" type="button" (click)="closeModal()">✕</button>
    </div>

    <form class="modal-form" [formGroup]="transferForm" (ngSubmit)="transfer()">
      <div class="input-group">
        <label>Email da conta para transferência</label>
        <div class="money-input">
          <span>@</span>
          <input type="email" placeholder="email@exemplo.com" formControlName="email" />
        </div>
        @if (
          transferForm.get('email')?.touched && transferForm.get('email')?.hasError('required')
        ) {
          <small>Informe um email válido.</small>
        }
        <label>Valor da transferência</label>

        <div class="money-input">
          <span>R$</span>
          <input
            type="text"
            inputmode="decimal"
            placeholder="0,00"
            formControlName="amount"
            autocomplete="off"
            (input)="formatMoney($event)"
          />
        </div>
        @if (
          transferForm.get('amount')?.touched && transferForm.get('amount')?.hasError('required')
        ) {
          <small>Informe um valor.</small>
        }
      </div>

      <div class="modal-actions">
        <button type="button" class="secondary-button" (click)="closeModal()">Cancelar</button>
        <button type="submit" class="primary-button">Confirmar transferência</button>
      </div>
    </form>
  </div>
</div>
