<!-- OVERLAY -->
<div class="modal-overlay">
  <!-- MODAL -->
  <div class="modal-content">
    <!-- HEADER -->
    <div class="modal-header">
      <div>
        <h2>Sacar dinheiro</h2>
        <p>Retire saldo da sua conta</p>
      </div>
    </div>

    <!-- FORM -->
    <form class="modal-form" [formGroup]="form" (ngSubmit)="withdraw()">
      <!-- INPUT -->
      <div class="input-group">
        <label>Valor do saque</label>

        <div class="money-input">
          <span>R$</span>

          <input type="number" placeholder="0,00" formControlName="amount" />
        </div>
      </div>

      <button type="button" class="secondary-button" (click)="closeModal()">Cancelar</button>

      <button type="submit" class="primary-button">Confirmar saque</button>
    </form>
  </div>
</div>
