<div class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <div>
        <h2>Sacar dinheiro</h2>
        <p>Retire saldo da sua conta</p>
      </div>
    
    <button class="close-button" (click)="closeModal()">✕</button></div>
    <form class="modal-form" [formGroup]="form" (ngSubmit)="withdraw()">
      <div class="input-group">
        <label>Valor do saque</label>

        <div class="money-input">
          <span>R$</span>

          <input type="number" placeholder="0,00" formControlName="amount" />
        </div>
      </div>

      <div class="modal-actions">
        <button type="button" class="secondary-button" (click)="closeModal()">Cancelar</button>
        <button type="submit" class="primary-button">Confirmar saque</button>
      </div>
    </form>
  </div>
</div>
