<header class="home-page">
  <app-home-header></app-home-header>
</header>

<div class="home-content">
  <app-balance-card></app-balance-card>

  <div class="actions">
    <button class="deposit-button" (click)="openDepositModal()">Depositar</button>
    <button class="withdraw-button" (click)="openWithdrawModal()">Sacar</button>
  </div>

  @if (showDepositModal) {
    <app-deposit-dialog (close)="closeModal()" />
  }

  @if (showWithdrawModal) {
    <app-withdraw-dialog (close)="closeModal()" />
  }
</div>
