@use '@angular/material' as mat;

@include mat.core();

/* cores estilo Itaú */
$primary: mat.$orange-palette;
$tertiary: mat.$blue-palette;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $primary,
    tertiary: $tertiary
  ),
));

:root {
  @include mat.all-component-themes($theme);
}