<header class="home-header">
  <div class="profile" (click)="openProfileDialog()">
    <div class="avatar">{{ name().charAt(0).toUpperCase() }}</div>

    <div>
      <span class="greeting">Olá, {{ name() }} </span>
      <strong>Bem-vindo de volta</strong>
    </div>
  </div>

  <div class="search-wrapper">
    <mat-form-field class="search-field" appearance="outline">
      <mat-label>Pesquisar</mat-label>

      <input
        matInput
        type="text"
        placeholder="Pesquisar por nome ou email"
        [ngModel]="searchTerm()"
        (keyup.enter)="search()"
        (ngModelChange)="onSearchTermChange($event)"
      />

      <button
        matSuffix
        mat-flat-button
        color="primary"
        type="button"
        class="search-button"
        (click)="search()"
      >
        Pesquisar
      </button>
    </mat-form-field>

    <button
      mat-icon-button
      type="button"
      class="logout-button"
      aria-label="Sair"
      (click)="logOut()"
    >
      <mat-icon>logout</mat-icon>
    </button>

    @if (searchResults().length > 0) {
      <ul class="search-results">
        <li class="search-result-item" *ngFor="let client of searchResults()">
          <span class="client-name"
            >{{ client.name }}
            <span>{{ client.email }}</span>
          </span>
        </li>
      </ul>
    } @else if (hasSearched() && searchTerm().trim()) {
      <ul class="search-results">
        <li class="no-results">Nenhum resultado encontrado</li>
      </ul>
    }
  </div>
</header>
